.instagram{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: var(--blue-color);
   
}

 a{
    display: block;
   padding: 10px;
        }

.instagram__wrap {
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    
    .instagram__block-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        max-width: 576px;
        width: 100%;        
        padding: 20px 20px 0;  
                h2{
                     font-size: clamp(20px, 2.5vw, 55px);
                }      
                p{                 
                    color: white;
                }
                a{
                    color: #000;
                    align-self: flex-start;
                }
        }
        .intagram__block-right {
            display: flex;
            justify-content: flex-end;
           max-width: 720px;
           width: 100%;
           img{
                    height: auto;
                    display: block;
                    max-width: 720px;
                    width: 100%;
                }
}
}
@media(max-width: 500px){
    .instagram__wrap{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .instagram__block-left{
        
        box-sizing: border-box;
    }
    // .typeAnimationText{
    //     padding: 10px;
       
    // }
    .intagram__block-right{
        box-sizing: border-box;
        padding: 20px;
        
    }

}
