
:root{
    --background-color: rgba(16, 15, 15, 0.7215686275);
    --philosophy-bg-color: #FFF3E4;

    --blue-color: rgb(16, 169, 216);
    --dark-purpure: #181823;
    --purpure: #5221E6;
    --light-gray: #8491A0;
    --dark-gray: #5B6876;
}