@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: tranform(0.5s);
}
a:hover {
  color: rgb(8, 28, 34);
}

p {
  font-size: 18px;
  font-width: 400;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 78px;
  font-weight: 700;
}

h2 {
  font-size: 55px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.overlay_turnOn {
  visibility: visible;
  opacity: 1;
}

.animationForBorder {
  border-bottom: 1px solid red !important;
  transition: 1s ease-in-out;
}

:root {
  --background-color: rgba(16, 15, 15, 0.7215686275);
  --philosophy-bg-color: #FFF3E4;
  --blue-color: rgb(16, 169, 216);
  --dark-purpure: #181823;
  --purpure: #5221E6;
  --light-gray: #8491A0;
  --dark-gray: #5B6876;
}

.header {
  margin: 0 auto;
  position: relative;
  display: flex;
  background-color: rgba(16, 15, 15, 0.7215686275);
  max-width: 1440px;
  width: 100%;
  border-radius: 0 clamp(100px, 40vw, 360px) 20px clamp(100px, 40vw, 360px);
}

.header__top {
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: auto;
  padding: 10px;
}
.header__top .logo {
  max-width: 77.5px;
}
.header__top .logo img {
  display: block;
}

.menu {
  display: flex;
  padding: 0 72px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 32px;
}

.menu ul {
  display: flex;
  gap: 48px;
}

.colored {
  padding: 32px 24px;
  background-color: var(--purpure);
}

.two__coresontal-blocks {
  display: flex;
}

.header__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  position: relative;
}

.block__img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 166px;
  left: 0;
}
.block__img img {
  max-width: 750px;
  width: 100%;
  height: 100%;
}

.block__right {
  background-color: var(--dark-purpure);
  width: 900px;
  position: relative;
  margin-left: auto;
}

.header__title {
  z-index: 9;
  position: absolute;
  max-width: 740px;
  right: 0;
  color: #fff;
  transform: translateY(calc(50% + 90px));
  right: 38px;
  gap: 32px;
}

.header__link:hover {
  color: rgb(88, 85, 85);
}

.planshet__img {
  display: none;
}

.phone__img {
  display: none;
}

.menu__button {
  display: none;
  z-index: 200;
  position: absolute;
  flex-direction: column;
  max-width: 50px;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  top: 0;
  padding: 15px;
}
.menu__button span {
  background-color: var(--light-gray);
  width: 100%;
  height: 2px;
}

.pc__img {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  height: 100%;
  max-height: 730px;
  border-radius: 20% 50% 20% 50%;
  opacity: 0;
  transition: all 1s ease-in;
  border: 3px solid rgb(88, 85, 85);
}

.turn_on {
  opacity: 1;
  transform: translateX(0) !important;
}

.hidden__left {
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateX(100%);
  padding: 10px;
}
.hidden__left h2 {
  font-size: clamp(20px, 10vw, 54px) !important;
}
.hidden__left h2 span {
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--blue-color);
}

.show {
  transform: translate(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  .header__title h1 {
    font-size: 56px;
  }
  .planshet__img {
    display: flex;
    max-width: 384px;
    width: 100%;
    height: auto;
  }
  .logo {
    display: none;
  }
  .menu {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    background-color: rgba(24, 24, 35, 0.7);
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 70px 10px 10px 10px;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu a {
    font-size: 45px;
  }
  .menu__button {
    display: flex;
  }
}
@media (max-width: 768px) {
  .block__right {
    background-color: #000;
  }
  .main__title h2 {
    max-width: 688px;
  }
}
@media (max-width: 400px) {
  .header__main {
    height: 500px;
  }
  .planshet__img {
    display: none;
  }
  .block__img {
    top: 60px;
  }
  .phone__img {
    display: block;
    max-width: 360px;
  }
  .header__title {
    padding: 0 20px;
  }
  .header__title h1 {
    font-size: 22px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .header__title p {
    margin: 0 auto;
  }
  .header__main {
    flex-direction: column;
    align-items: center;
  }
  .companies__worked-for {
    flex-direction: column;
    opacity: 0;
  }
}
.main {
  display: flex;
  background-color: inherit;
  justify-content: center;
  margin: 0 auto 50px;
  max-width: 1441px;
  color: #fff;
  border-bottom: 1px solid var(--blue-color);
  border-radius: 0 0 0 clamp(100px, 40vw, 300px);
  transition: 1s ease;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1294px;
  margin: 0 auto;
}

.main__title {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 8px;
  max-width: 790px;
  margin-bottom: 40px;
  max-width: 690px;
}
.main__title p {
  width: 156px;
  color: var(--light-gray);
}

.companies__worked-for {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 119px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.companies__worked-for dt {
  color: var(--light-gray);
  font-size: 117px;
}
.companies__worked-for dd {
  font-size: 24px;
  max-width: 368px;
}

.google {
  color: #3CC74E;
}

.facebook {
  color: #609BFF;
}

.driabbble {
  color: #E95D90;
}

.paragraph {
  font-size: 16px;
  color: var(--light-gray);
}

.show {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  .companies__worked-for {
    gap: 15px;
  }
  .companies__worked-for dt {
    font-size: 55px;
  }
}
.philosophy {
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgba(16, 15, 15, 0.7215686275);
}

.philosophy_blocks {
  position: relative;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.philosophy_block1 {
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  max-width: 576px;
  width: 100%;
  gap: 24px;
  text-align: left;
  color: white;
}
.philosophy_block1 a {
  margin-top: auto;
  color: white;
  border-bottom: 1px solid var(--light-gray);
  align-self: flex-start;
  padding: 4px 0;
}
.philosophy_block1 p {
  min-height: clamp(247px, 20vh, 486px);
}

.philosophy_block2 {
  box-sizing: border-box;
  display: block;
  flex-basis: 50%;
  max-width: 600px;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 1s ease;
}
.philosophy_block2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  z-index: 11;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .philosophy_blocks {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .philosophy_blocks {
    flex-direction: column;
    box-sizing: border-box;
  }
  .philosophy_block1 {
    margin: 0;
  }
  .philosophy_block2 {
    padding: 10px;
  }
}
.skillset {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: #fff;
  padding-top: 120px;
}

.container {
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.skillset__wrap {
  position: relative;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 368px 2fr;
  gap: 72px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.skillset_right-blocks {
  position: relative;
  display: flex;
}
.skillset_right-blocks h3 {
  gap: 11px;
}

.title {
  opacity: 0;
  transition: opacity 1s ease-in-out !important;
}
.title h2 {
  margin-bottom: 24px;
}
.title p {
  font-size: 16px;
  color: var(--light-gray);
  margin-bottom: 48px;
  max-width: 368px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.block p {
  font-size: 16px;
  color: var(--light-gray);
  margin-bottom: 48px;
  max-width: 368px;
}
.block img {
  margin-bottom: 13px;
  width: 32px;
}

.skillset_block1,
.skillset_block2,
.skillset_block3,
.skillset_block4 {
  opacity: 0;
}

.skillset_footer-wrap ul {
  display: flex;
  justify-content: space-between;
  margin: 0 51px;
}
.skillset_footer-wrap ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  width: 100%;
  height: clamp(40px, 10svh, 140px);
  border: 1px solid var(--dark-purpure);
}
.skillset_footer-wrap ul li img {
  padding: 5px;
}

.appearFromRightText {
  opacity: 0;
  transition: all 2s ease-in;
}

.skillsetShow {
  opacity: 1;
  transition: 1s ease-in;
}

@media (max-width: 1200px) {
  .skillset_right-blocks {
    display: flex;
    flex-direction: column;
  }
  .skillset__wrap {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .skillset__wrap {
    display: grid;
    grid-template-columns: repeat(2 fr);
  }
  .title {
    grid-column: span 2;
    max-width: 688px;
  }
  .title p {
    max-width: 688px;
    margin-bottom: 0;
  }
}
@media (max-width: 642px) {
  .skillset__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.show {
  opacity: 1;
  transform: translate(0);
}

.work {
  background-color: var(--bg-color);
  margin: 0 auto;
  color: white;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 153px;
}

.work__wrap {
  display: flex;
  margin-top: 120px;
  padding: 10px;
  gap: 24px;
  justify-content: center;
}

.work__title {
  margin-bottom: clamp(0px, 2.5vw, 80px);
  max-width: 572px;
  width: 100%;
  gap: 8px;
  background-color: inherit;
}
.work__title h2 {
  font-size: clamp(22px, 2.5vw, 55px);
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
  max-width: 636px;
  width: 100%;
}

.work__block1 {
  background-color: var(--dark-purpure);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: auto;
}
.work__block1 a {
  display: block;
  padding: 0;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  border-radius: 0 0 0 0;
}
.work__block1 a:hover {
  transform: scale(1.05);
  border-radius: 0 0 20px 20px;
}
.work__block1 img {
  max-width: 636px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.work__block1 img:hover {
  border-radius: 0 0 20px 20px;
}

.description,
.description2 {
  margin: 40px 32px;
  gap: 13px;
  display: flex;
  flex-direction: column;
}
.description p,
.description2 p {
  font-size: 16;
  color: var(--light-gray);
}

.work__block-link {
  display: flex;
  justify-content: center;
  margin-top: 91px;
}
.work__block-link a {
  padding: 24px 32px;
  border: 1px solid var(--purpure);
}

.work__block1-top-left {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(-50px, 50px);
}

.work__block1-bottom-left {
  opacity: 0;
  transition: all 1s ease;
  transform: translate(-50px, 50px);
}

.work__block2-top-right {
  opacity: 0;
  transform: translate(50px, -50px);
  transition: all 1s ease;
}

.work__block2-bottom-right {
  opacity: 0;
  transform: translate(50px, -50px);
  transition: all 1s ease;
}

.work__block-show {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 1200px) {
  .work__wrap {
    flex-wrap: wrap;
  }
}
.instagram {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: var(--blue-color);
}

a {
  display: block;
  padding: 10px;
}

.instagram__wrap {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instagram__wrap .instagram__block-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 576px;
  width: 100%;
  padding: 20px 20px 0;
}
.instagram__wrap .instagram__block-left h2 {
  font-size: clamp(20px, 2.5vw, 55px);
}
.instagram__wrap .instagram__block-left p {
  color: white;
}
.instagram__wrap .instagram__block-left a {
  color: #000;
  align-self: flex-start;
}
.instagram__wrap .intagram__block-right {
  display: flex;
  justify-content: flex-end;
  max-width: 720px;
  width: 100%;
}
.instagram__wrap .intagram__block-right img {
  height: auto;
  display: block;
  max-width: 720px;
  width: 100%;
}

@media (max-width: 500px) {
  .instagram__wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .instagram__block-left {
    box-sizing: border-box;
  }
  .intagram__block-right {
    box-sizing: border-box;
    padding: 20px;
  }
}
.dribbble {
  display: flex;
  background-color: var(--bg-color);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.container {
  max-width: 1294px;
}

.dribbble__wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.dribbble__wrap h2 {
  margin-top: 120px;
  font-size: clamp(20px, 2.5vw, 55px);
}
.dribbble__wrap p {
  margin-bottom: 17px;
  max-width: 636px;
  font-size: 16px;
  color: var(--light-gray);
}
.dribbble__wrap a {
  align-self: start;
  padding: 4px;
}
.dribbble__wrap {
  gap: 124px;
}
.dribbble__wrap .dribbble__info {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 10px;
}

.dribbble__img {
  margin: 0 auto 121px;
  display: block;
  max-width: 1076px;
  width: 100%;
  box-sizing: border-box;
}
.dribbble__img img {
  border-radius: 12px;
  display: block;
  width: 100%;
}

@media (max-width: 1200px) {
  .dribbble__img {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .dribbble__info {
    padding: 0 20px;
  }
  .dribbble__img {
    margin: 0 auto 20px;
  }
  .dribbble__wrap {
    gap: 20px;
  }
  .dribbble__wrap h2 {
    margin-top: 20px;
  }
}
.comments {
  display: flex;
  margin: 0 auto;
  background-color: var(--bg-color);
  max-width: 1440px;
  width: 100%;
  color: white;
  background-color: var(--background-color);
}

.comments__blocks {
  display: flex;
  gap: 24px;
  margin: 120px auto;
  flex-wrap: wrap;
}

.comments__block-left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 24px;
}
.comments__block-left h2 {
  font-size: 40px;
}
.comments__block-left p {
  color: var(--light-gray);
}
.comments__block-left a {
  margin-top: 16px;
  border-bottom: 1px solid var(--light-gray);
  align-self: start;
  padding: 4px;
}

.comments__block-right {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.comments__block1 {
  max-width: 636px;
  width: 100%;
  width: 100%;
  border: 1px solid var(--dark-gray);
}
.comments__block1 img {
  display: block;
  max-width: 636px;
  width: 100%;
}

.comments__info-wrap {
  margin: 64px;
}
.comments__info-wrap p {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 64px;
}
.comments__info-wrap a {
  font-size: 18px;
  font-weight: 700;
  color: var(--light-gray);
  margin-bottom: 4px;
}
.comments__info-wrap .p__bottom {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-gray);
}

@media (max-width: 1200px) {
  .comments__blocks {
    padding: 0 20px;
  }
  .comments__info-wrap {
    margin: 30px;
  }
  .comments__info-wrap p {
    font-size: 18px;
  }
  .comments__block-right {
    gap: 50px;
  }
}
@media (max-width: 765px) {
  .comments__blocks {
    display: flex;
    gap: 0;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .comments__info-wrap p {
    margin-bottom: 0;
  }
}
.photography {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: var(--bg-color);
  color: white;
}

.photography__wrap {
  margin: clamp(20px, 10vh, 120px) auto;
  max-width: 1296px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photography__wrap h2 {
  margin-bottom: 24px;
  font-size: clamp(20px, 2.5vw, 40px);
}
.photography__wrap p {
  max-width: 588px;
  color: var(--light-gray);
  font-size: 18px;
  margin-bottom: 64px;
}
.photography__wrap .links {
  display: flex;
  gap: clamp(5px, 2.5vw, 25px);
  padding-bottom: 40px;
}

.btn {
  padding: 0;
  border: 1px solid rgb(21, 83, 102);
  background: inherit;
  color: #fff;
  padding: 12px 16px;
  cursor: pointer;
  display: block;
}

.photography__images {
  display: none;
  flex-wrap: wrap;
  max-width: 1296px;
  width: 100%;
  gap: 23px;
}
.photography__images img {
  box-sizing: border-box;
  max-width: 306px;
  width: 100%;
  max-height: 420px;
  height: 100%;
}

.photography__images.active {
  display: flex;
}

.colored {
  background-color: rgb(21, 83, 102);
}

@media (max-width: 1200px) {
  .photography__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .photography__images {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  btn {
    padding: 8px 10px;
  }
}
.feedback {
  display: flex;
  background-color: var(--background-color);
  color: white;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.feedback__wrap-block-left {
  display: block;
  max-width: 526px;
  width: 100%;
  gap: 24px;
}

.feedback__wrap {
  display: flex;
  margin: 103px auto 120px;
  gap: 24px;
  padding: 0 20px;
}

.feedback__wrap-block-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feedback__wrap-block-left p {
  color: var(--dark-gray);
}

.input_wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input__group {
  display: flex;
  flex-direction: column;
  width: 526px;
  gap: 8px;
  margin-bottom: 40px;
}

.input {
  background: rgba(16, 15, 15, 0.7215686275);
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #fff;
}

.last__group textarea {
  background: rgba(16, 15, 15, 0.7215686275);
  height: 100px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.input__group-btn {
  background-color: rgb(21, 83, 102);
  width: 100%;
  height: 75px;
  margin-top: 40px;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.1s ease;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in;
}

.input__group-btn:hover {
  background-color: rgb(15, 59, 72);
}

.input__group-btn:active {
  transform: scale(0.98);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.input__title {
  opacity: 0;
  transform: translateX(-100%);
}

.input__text {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease-in;
}

.inputName {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.inputEmail {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.inputMessage {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.inputShow {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.showTextFromLeft {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in;
}

.input__text-show {
  transform: translateY(0);
  transition: all 1s ease-in;
  opacity: 1;
}

@media (max-width: 1000px) {
  .input__group {
    max-width: 332px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .feedback__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    border-top: 1px solid rgba(50, 50, 50, 0.521);
  }
  .input {
    width: 300px;
  }
}
.footer {
  background-color: rgb(21, 83, 102);
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__block-left {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 426px;
  width: 100%;
}
.footer__block-left img {
  width: 131px;
}
.footer__block-left p {
  margin-top: 145px;
  display: flex;
  margin-top: auto;
}
.footer__block-left ul {
  display: flex;
  gap: 20px;
  margin-bottom: 142px;
}
.footer__block-left ul li img {
  width: 18px;
  display: block;
}
.footer__block-left p {
  color: var(--dark-gray);
}

.footer__block-right {
  display: flex;
  gap: 170px;
  margin-right: 190px;
}

.footer__block-right ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 80px 20px;
  }
}
@media (max-width: 830px) {
  .footer__wrap {
    display: flex;
    justify-content: center;
  }
  .footer__block-right {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .header__title {
    max-width: 408px;
  }
  .footer {
    background-color: none;
  }
}
@media (max-width: 479px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__block-left p {
    display: none;
  }
  .footer__block-left ul {
    margin: 0 0 51px;
  }
  .footer__block-right {
    flex-direction: column;
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */